body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme='dark'] {
  --background: #18191a;
  --backgrounf-secondary: #242526;
  --text-primary: rgb(226, 226, 226);
  --text-secondary: grey;
}

.app {
  min-height: 100vh;
}
.app,
.app .table,
.app .card-body,
.app .list-group-item {
  background-color: var(--background);
  color: var(--text-primary);
  border-color: var(--text-secondary);
}

.table-hover tbody tr:hover td {
  color: var(--text-primary);
}

tbody tr {
  cursor: pointer;
}
